* {
	/* Prevent users from selecting text or other content on the webpage. */
    -webkit-user-select: none;   /* Chrome & Safari. */
    -khtml-user-select: none;    /* Konqueror. */
    -moz-user-select: -moz-none; /* Firefox. */
    -o-user-select: none;        /* Opera. */
    user-select: none;           /* Standard property. */
}

body {
	/* Set the background to a dark shade of blue-gray. */
	background: #2E3440;
}

#login-box {
	/* Ensure all text and images are centered. */
	text-align:center;

	/* Set the background colour to a dark blueish-grey. */
	background-color:rgb(67,76,94);

	/* Set the box dimensions to 300 pixels by 385 pixels. */
	width:300px;
	height:385px;

	/* Remove any default margin. */
	margin:0px;

	/* Round the corners of the box. */
	border-radius:20px;

	/* Apply a shadow with an offset of 0 pixels horizontally and vertically, a blur radius of 100 pixels and a spread radius of 5 pixels. */
	box-shadow: 0 0 100px 5px rgba(0,0,0,0.2);

	/* Ensure any content overflowing the bounds of the box is hidden. */
	overflow:hidden;

	/* Position the box precisely relative to its nearest positioned ancestor. */
	position:absolute;

	/* Position the top edge of the box 50% from the top of its containing element. */
	top:50%;

	/* Position the left edge of the box 50% from the left of its containing element. */
	left:50%;

	/* Center the box both horizontally and vertically within its containing element. */
	transform:translate(-50%, -50%);
}

#picture-box {
	/* Use Flexbox layout. */
	display: flex;

	/* Align items horizontally. */
	justify-content: center;

	/* Align items vertically. */
    align-items: center;

	/* Position the box 40 pixels below the top of the parent div. */
	margin-top:40px;
}

#prev:hover, #next:hover {
	/* Change the cursor to a pointer. */
	cursor:pointer;
}

#prev, #next {
	/* Grow to fill the available space in its flex container and will shrink if necessary. */
	flex: 1;

	/* Make the element itself a flex container. */
	display: flex;

	/* Make the element 12 pixels wide. */
	width:12px;

	/* Hide the elements initially. */
	opacity: 0;
    pointer-events: none;

	/* Align any flex items both horizontally and vertically. */
	justify-content: center;
  	align-items: center;

	/* Ensure changes in opacity occur gradually over 500ms. */
	transition:opacity .5s ease-in-out;
	-webkit-transition:opacity .5s ease-in-out;
}

#login-picture {
	/* Prevent the image from being dragged. */
	-webkit-user-drag: none; /* Chrome & Safari. */
	-khtml-user-drag: none;  /* Konqueror. */
	-moz-user-drag: none;    /* Firefox. */
	-o-user-drag: none;      /* Opera. */
	user-drag: none;         /* Standard property. */

	/* Ensure the image width and height are equal. */
	aspect-ratio: 1 / 1;

	/* Ensure the image covers the entire container without distortion. */
	object-fit: cover;

	/* Ensure the image is circular. */
	border-radius:100%;

	/* Set the image height to be 9 times the font size of its containing element. */
	height:10em;

	/* Set the image to be invisible initially. */
	opacity: 0;

	/* Ensure changes in image opacity occur gradually over 500ms. */
	transition:opacity .5s ease-in-out;
	-webkit-transition:opacity .5s ease-in-out;
}

#username-container {
	/* Position 10 pixels below the top of the parent div. */
	margin-top: 10px;

	/* Ensure any content overflowing the bounds of the container is hidden. */
	overflow:hidden;
}

#username {
    font-family: sans-serif;
	font-weight: bold;
    font-size: 28px;
    color: #ECEFF4;
    text-align:center;
    background-color: #434C5E;

	/* Ensure changes in opacity occur gradually over 500ms. */
	transition:opacity .5s ease-in-out;
	-webkit-transition:opacity .5s ease-in-out;
}

#login-form {
	flex: 1;
	padding: 30px;
}

#clock-box {
	z-index:1;
	position: relative;
	margin-top: 60px;
}

#time-label {
	text-align:center;
	font-size:200px;
	font-family:sans-serif;
	font-weight: bold;
	color: #ECEFF4;
}

#login-response {
	width:100%;
	margin-top:20px;
	font-family:sans-serif;
	font-size: 16px;
	color:#BF616A;
}

#login-name {
	appearance: none;
	margin-top:5px;
	background-color: #434C5E;
	border:0.75px solid #88C0D0;
	width:100%;
	height:40px;
	border-radius:2px;
	padding:5px 5px 10px 10px;
	font-size:16px;
	font-family:sans-serif;
	color: #ECEFF4;
	display:none;
}

#name div {
	display: table-cell;
  	padding: 6px 5px 10px 5px;
  	min-width: 225px;
  	max-width: 225px;
}

#login-name:focus {
	background-color:white;
	border:0.5px solid #88C0D0;
}

#password-container {
	position:relative;
	background-color: #4C566A;
	padding:5px 5px 10px 10px;
	height:20px;
	border:0px solid #4C566A;
	border-radius:10px;
}

#login-password {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
	color: #ECEFF4;
	font-size:15px;
	text-align: center;
	background-color: transparent;
	border:0px;
}

#login-password:focus {
	border-color: #ced4da;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}

@keyframes shake {
	8%, 41% {
        transform: translateX(-10px);
    }
    25%, 58% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-5px);
    }
    92% {
        transform: translateX(5px);
    }
    0%, 100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake .5s linear;
}

#login-password::-webkit-input-placeholder {
    font-family: monospace;
}

#login-password:-ms-input-placeholder {
    font-family: monospace;
}

#login-password:-moz-placeholder {
    font-family: monospace;
}

#login-password::-moz-placeholder {
    font-family: monospace;
}

#login-name:hover, #login-password:hover {
	border:0px solid #88c0d0;
	outline:none;
}

#login-name:focus, #login-name:active, #login-password:focus, #login-password:active {
	border: 0px solid #88c0d0;
	box-shadow: inset 0 1px 2px rgba(136, 192, 208, 0.2);
	outline: none;
}

#login-button {
	position:relative;
	outline:0;
	font-family: sans-serif;
	font-weight: bold;
	font-size:20px;
	margin-top:10px;
	color: #ECEFF4;
	border:0px solid #4C566A;
	padding:0px;
	border-radius:5px;
	width:100%;
	height:40px;
	background: linear-gradient(to right, #D41876, #0076BA);
	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
	background-size: 600% 600%;
}

#login-button:hover {
	cursor:pointer;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

#login-button:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
}

#login-bar {
	background-color: #434C5E;
	bottom: 10px;
	position: absolute;
	padding: 10px 25px;
	width: auto;
	border-radius: 10px;
	transform: translate(-50%, -50%);
	left: 50%;
}

#power {
	padding: 5px;
	width:40px;
	padding: auto;
	margin:auto;
	color:white;
	background-color:transparent;
	border:none;
	padding-bottom:0px;
}

#power:hover {
	cursor:pointer;
	text-shadow:0 0 3px #FFFFFF;
}
